<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <property name="CONSOLE_LOG_PATTERN"
              value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSSZ}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr([%t]){faint} %clr(%logger{39}.%M:%L){cyan} %m%n"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <jmxConfigurator/>

    <contextName>@app.name@</contextName>

    <property name="APP_NAME" value="@app.name@"/>

    <property name="FILE_LOG_PATTERN"
              value="[%d{yyyy-MM-dd HH:mm:ss.SSS}][%level][%logger{0}][%method][%L][${APP_NAME},%X{X-B3-TraceId:-},%X{X-B3-SpanId:-},%X{X-Span-Export:-}] - %msg%n"/>

    <springProfile name="prod">
        <appender name="biz-file" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
                <ImmediateFlush>false</ImmediateFlush>
            </encoder>
        </appender>
        <appender name="biz" class="ch.qos.logback.classic.AsyncAppender">
            <discardingThreshold>0</discardingThreshold>
            <queueSize>2048</queueSize>
            <includeCallerData>true</includeCallerData>
            <appender-ref ref="biz-file"/>
        </appender>
    </springProfile>

    <springProfile name="!prod">
        <appender name="biz" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <File>${LOG_PATH}/${APP_NAME}-biz.log</File>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <FileNamePattern>${LOG_PATH}/${APP_NAME}-biz.log.%d{yyyy.MM.dd.HH}</FileNamePattern>
                <maxHistory>7</maxHistory>
            </rollingPolicy>
            <encoder>
                <Pattern>${FILE_LOG_PATTERN}</Pattern>
            </encoder>
        </appender>
    </springProfile>


    <springProfile name="debug">
        <logger name="com.github.osinfra" level="DEBUG" additivity="false">
            <appender-ref ref="CONSOLE"/>
        </logger>
    </springProfile>

    <root level="INFO">
        <springProfile name="debug">
            <appender-ref ref="CONSOLE"/>
        </springProfile>
        <appender-ref ref="biz"/>
    </root>
</configuration>
